:root {
    --primaryColor: #68217a;
    --secondaryColor: #f4f4f4;
    --bgMenuActive: #8e47a0;
    --bgButton: #68217a;
    --logoImageUrl: url('C:\Users\hy971\source\repos\Blinkr\Blinkr\MonitoringService\MonitoringService\images');
    --bgAside: var(--primaryColor);
}
